{% extends 'base.html' %}
{% load static %}
{% load tz %}

{% block title %}Home - BlogApp{% endblock %}
{% block index_style %}<link rel="stylesheet" href="{% static 'css/posts.css' %}">{% endblock index_style %}

{% block content %}
    {% if posts %}
        <h1 class='post-head'>Latest Posts</h1>
        <div class='posts-section'>
            {% for post in posts %}
            <div class="post">
                <div class="admin-profile-name">
                    <i class="fa-regular fa-circle-user"></i>
                    <p>{{ post.author.username }}</p>
                </div>
                <div class="post-content">
                    <div class="post-date">{{ post.created_at|localtime }}</div>
                    <h3 class="post-title">{{ post.title|title }}</h3>
                    <p class="post-body">{{ post.body|truncatechars:100 }}</p>
                    <div class="post-info">
                        {% if user.is_authenticated and user == post.author %}
                        <a href="{% url 'deletepost' post.id %}">
                           <button class="delete">Delete</button> 
                        </a>
                        {% endif %}
                        <a href="{% url 'viewpost' post.id %}">
                           <button class="view">Read more</button>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        {% if user.is_authenticated %}
            <h1 class="no-post">No posts yet to read, create post right now</h1>
            {% else %}
                <h1 class="no-post">Please Login first to read posts!</h1>
        {% endif %}
    {% endif %}
{% endblock %}