{% extends "base.html" %}
{% load static %}

{% block title %}Login BlogApp{% endblock title %}
{% block login_style %}<link rel="stylesheet" href="{% static 'css/register-login.css' %}">{% endblock login_style %}

{% block content %}
<form class="form_main" method='post'>
    {% csrf_token %}
    <p class="heading">Login</p>
    <div class="inputContainer">
        <i class="inputIcon fa-solid fa-at"></i>
    <input placeholder="Username" name='username' id="username" class="inputField" type="text" required>
    </div>
    
<div class="inputContainer">
    <i class="inputIcon fa-solid fa-lock"></i>
    <input placeholder="Password" name='password' id="password" class="inputField" type="password" required>
</div>
              
           
<button id="button">Submit</button>
    <div class="signupContainer">
        <p>Don't have any account?</p>
        <a href="{% url 'register' %}">Sign up</a>
    </div>
</form>
{% endblock content %}